.section1 {
  height: 100%;
  animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s;
}

.carouselItem {
  //padding-bottom: 50vh;
  animation: bounceInRight;
  animation-duration: 1s;
}

.carouselItemTitle {
  font-size: 300%;
  font-weight: bolder;
  color: #ffffff;
  text-shadow: 3px 5px 2px #474747;
}
